* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: lightgray;
  width: 80%;
  height: 80%;
}

.search {
  display: flex;
  justify-content: center;
}

.loc-search {
  width: 40%;
  padding: 0 10px;
  border-radius: 10px;
  outline: none;
  border: 1px darkblue solid;
}

.loc-search:focus {
  border: 2px darkorange solid;
}

.btn {
  padding: 10px;
  background: darkorange;
  font-weight: 300;
  color: white;
  border: darkblue 1px solid;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.btn:hover {
  background: #bd7119;
}

.map-container {
  display: flex;
  justify-content: space-evenly;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  background: lightcyan;
}

.info-item {
  width: 100%;
  height: 45%;
  background: lightgreen;
}
